<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=800" />
    <link href="../static/main.css" type="text/css" rel="stylesheet">
    <meta http-equiv="Content-Security-Policy" content="font-src 'self' data:; img-src 'self' data:; default-src 'self' http://121.0.0:3000/" "content_security_policy": "default-src 'self' style-src 'self' script-src 'unsafe-inline';" >
    <title>Main</title>
</head>
<body>
    {{{ body }}}
</body>
</html>