    <section>
        <h1 class="login-header">Create account</h1>
        <form action="http://localhost:8000/signupdata" method="POST"> 
            <br>Username:<br> 
            <input class="input-box" type="text" name="username" required>
            <br>Password:<br> 
            <input class="input-box" type="password" name="pwd" required>
            <br>Confirm password:<br> 
            <input class="input-box" type="password" name="pwdconfirmation" required>
            <br>
            <input class="input-btn" type="submit">
        </form>
        <p class="signupMsg">{{ signupMsg }}<span style="opacity: 0;">-</span></p>
        <p class="sign-in-redirect">Already have an account? <a href="/login">Sign in</a></p>
    </section>