/* -- IMPORT GOOGLE FONTS -- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap');

/* -- IMPORT GOOGLE FONTS -- */


/* -- Remove default styling -- */

* {
    margin: 0;
    padding: 0;
}

/* -- Remove default styling -- */


/* -- Styling for login and form stuff -- */

.form-section {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
    height: 25em;
    width: 20em;
    margin: 20vh auto;
    overflow: hidden;
}

.login-section {
    height: 23em;
}

.greeting {
    font-family: serif;
    font-size: 30px;
    margin-top: 1em;
}

.login-header {
    text-align: center;
    font-size: 32px;
    letter-spacing: 1px;
    margin-top: 1em;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
}

.login-form {
    width: 13em;
    height: 12em;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.input-box {
    border-radius: 5px;
    height: 2em;
    width: 13em;
    background-color: rgba(80, 72, 72, 0.3);
    color: rgba(39, 34, 34, 0.9);
    font-size: 14px;
}

.input-btn {
    color: white;
    background-color: black;
    height: 2.5em;
    width: 5em;
    border: 1px solid rgba(192, 192, 192, 0.6);
    border-radius: 5px;
    margin-top: 1em;
    transition: .3s;
}

.input-btn:hover {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(192, 192, 192, 0.9);
    cursor: pointer;
}

.sign-in-redirect, .sign-up-redirect {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: .5rem;
    font-size: 14px;
}

.sign-up-redirect {
    margin-top: 2.5rem;
}

.signupMsg, .signinMsg {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    width: 18rem;
    margin: 0 auto;
    font-size: 13px;
    color: red;
}

.signinMsg {
    margin-top: 2rem;
}

.signupMsg {
    margin-top: 4rem;
}

/* -- Styling for login and form stuff -- */



/* -- Styling for landing page -- */

.todo-landingpage {
    overflow-x: hidden;
}

.todo-nav {
    height: 10vh;
    width: 100vw;
    border-bottom: .5px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
}

.logo {
    margin-left: 1rem;
    position: absolute;
    margin-top: 1.5rem;     
    font-size: 1.2rem;
}

.account {
    float: right;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    font-size: 1rem;
    font-size: 1.2rem;
}

.logout-btn {
    text-decoration: none;
    transition: 0.3s;
    color: rgb(88, 110, 88);
    font-weight: bold;
}

.logout-btn:visited {
    color: rgb(111, 206, 111);
    font-weight: bold;
}

.logout-btn:hover {
    color: rgb(194, 216, 154);
}

.create-todo-form {
    width: 35rem;
    margin: 3rem auto;
}

.todo-input {
    height: 2rem;
    width: 29rem;
    font-size: 1rem;
}

.submit {
    height: 2rem;
    width: 5rem;
    border-radius: 10px;
    background-color:rgb(194, 216, 154);
    transition: .3s;
    background-color:rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
    color: rgb(200, 202, 200);
}

.submit:hover {
    cursor: pointer;
    background-color: rgb(111, 206, 111);
}


.list-of-todos {
    margin: 3rem auto;
    width: 35rem;
    height: 60vh;
}

.delete-btn {
    margin-right: .5rem;
}

.delete-btn, .edit-btn {
    float: right;
    border-radius: 5px;
    width: 4.5rem;
    height: 1.5rem;
    transition: .3s;
    -webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
}

.delete-btn:hover, .edit-btn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

.todo {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 1rem;
    margin-left: 1rem;
    width: 100%;
    height: 2rem;
    font-family: 'Open Sans', sans-serif;
}

.todo-box {
    border: 1px solid red;
    width: 35rem;
}

.todo-btn-form {
    margin: -1.5rem;
    margin-right: .5rem;
}

.developer {
    font-size: .8rem;
    padding-top: .5rem;
    font-family: 'Open Sans', sans-serif;
    width: 13rem;
}

.list-of-todos {
    margin: 3rem auto;
    width: 35rem;
    height: 60vh;
}

.username {
    display: none;
}

.todoErrMsg {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    width: 30rem;
    margin: 0 auto;
    font-size: 13px;
    color: black;
}

/* -- Styling for landing page -- */


/* -- MEDIA QUERYS (Mobile and smaller screen designs) FOR LOGIN AND SIGNUP PAGE -- */

@media only screen and  (min-width: 400px) and (max-width: 1000px) {

    .form-section {
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 30px;
        box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
        height: 45em;
        width: 40em;
        margin: 20vh auto;
        overflow: hidden;
    }

    .signup-section {
        height: 50em;
    }
    
    .greeting {
        font-family: serif;
        font-size: 3rem;
        margin-top: 1em;
    }
    
    .login-header {
        text-align: center;
        font-size: 4rem;
        letter-spacing: 1px;
        margin-top: 1em;
        text-decoration: underline;
        font-family: 'Montserrat', sans-serif;
    }
    
    form {
        width: 28rem;
        height: 20rem;
        margin: 0 auto;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
    }

    .login-form  {
        width: 23rem;
    }
    
    .input-box {
        border-radius: 10px;
        height: 3rem;
        width: 23rem;
        margin-top: .5rem;
        margin-right:15px;
        background-color: rgba(80, 72, 72, 0.3);
        color: rgba(39, 34, 34, 0.9);
        font-size: 1.5rem;
    }

    .input-desc-text {
        margin-top: .5rem;
        font-size: 1.5rem;
    }
    
    .input-btn {
        color: white;
        background-color: black;
        height: 3rem;
        width: 10rem;
        font-size: 1.5rem;
        border: 1px solid rgba(192, 192, 192, 0.6);
        border-radius: 10px;
        margin-top: 1em;
        transition: .3s;
    }
    
    .input-btn:hover {
        background-color: rgba(0, 0, 0, 0.9);
        color: rgba(192, 192, 192, 0.9);
        cursor: pointer;
    }
    
    .sign-in-redirect{
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        margin-top: 15rem;
        font-size: 1.5rem;
    }
    
    .sign-up-redirect {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        margin-top: 16rem;
        font-size: 1.5rem;
    }
    
    .signupMsg, .signinMsg {
        text-align: center;
        font-family: "Montserrat", sans-serif;
        width: 18rem;
        margin: 0 auto;
        font-size: 13px;
        color: red;
    }
    
    .signinMsg {
        margin-top: 2rem;
    }
    
    .signupMsg {
        margin-top: 4rem;
    }
}

/* -- MEDIA QUERYS (Mobile and smaller screen designs) FOR LOGIN AND SIGNUP PAGE -- */


/* -- MEDIA QUERYS (Mobile and smaller screen designs) FOR USERS LANDING PAGE -- */

@media only screen and  (min-width: 400px) and (max-width: 1000px) {
    /* For tablets: */
    .todo-nav {
        height: 6rem;
        width: 100vw;
        border-bottom: .5px solid rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    }

    .logo {
        margin-left: 1rem;
        position: absolute;
        margin-top: 1.6rem;     
        font-size: 2rem;
    }

    .account {
        float: right;
        margin-right: 1.5rem;
        margin-top: 1.6rem;
        font-size: 1rem;
        font-size: 2rem;
    }

    .todoErrMsg {
        text-align: center;
        font-family: "Montserrat", sans-serif;
        width: 25rem;
        margin: 0 auto;
        font-size: 13px;
        color: black;
    }
    

    .create-todo-form {
        width: 41rem;
        margin: 0 auto;
        margin-top: 3rem;
    }

    .todo-input {
        height: 3.5rem;
        width: 34rem;
        font-size: 2rem;
        margin-top: 1rem;
        border: 1px solid rgba(0,0,0,0.5);
    }

    .submit {
        height: 3.5rem;
        width: 6rem;
        margin-left: .2rem;
        margin-top: 1rem;
        font-size: 26px;
        border-radius: 10px;
        background-color:rgb(0, 0, 0);
        font-family: "Montserrat", sans-serif;

        color: rgb(200, 202, 200);
        transition: .3s;
    }

    .list-of-todos {
        margin: 0 auto;
        width: 40rem;
        height: 60vh;
    }

    .delete-btn {
        float: right;
        border-radius: 5px;
        margin-right: .5rem;
        margin-top: .3rem;
        width: 6rem;
        height: 2.2rem;
        transition: .3s;
        font-size: 1.5rem;
        -webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
        box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
    }

    
    .todo {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        margin-top: .5rem;
        margin-left: 1rem;
        width: 40rem;
        font-size: 2rem;
        height: 3rem;
        font-family: 'Open Sans', sans-serif;
    }

    .todo-box {
        width: 100%;
    }

    .todo-btn-form {
        margin: -1.5rem;
        margin-right: .5rem;
    }

    .developer {
        font-size: 1.2rem;
        padding-top: 12rem;
        font-family: 'Open Sans', sans-serif;
        width: 15rem;
    }
    
}

/* -- MEDIA QUERYS (Mobile and smaller screen designs) FOR USERS LANDING PAGE -- */